{% extends 'core/base.html' %}

{% block title %}Lista de Sprints{% endblock %}

{% block content %}
<h1 class="mb-4">Lista de Sprints</h1>

<a href="{% url 'sprint_create' %}" class="btn btn-success mb-3">Criar Nova Sprint</a>

<div class="list-group">
    {% for sprint in sprints %}
        <a href="{% url 'sprint_detail' sprint.pk %}" class="list-group-item list-group-item-action">
            <strong>{{ sprint.nome }}</strong> - 
            {{ sprint.data_inicio|date:"d/m/Y" }} a {{ sprint.data_fim|date:"d/m/Y" }}
        </a>
    {% empty %}
        <div class="alert alert-warning" role="alert">
            Nenhuma Sprint encontrada.
        </div>
    {% endfor %}
</div>
{% endblock %}
